@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
body {
	font-family: "Nunito", sans-serif;
}

html {
	scroll-behavior: smooth;
}
.light-color {
	background-color: #fff3f1;
}

.container-fluid {
	padding: 0;
}

/* Navbar */
.navbar {
	background-color: #ffedeb;
}

#ellipse-navbar {
	position: absolute;
	transform: translateY(-33%) rotate(90deg);
	top: 0;
	left: 47%;
	height: 320px;
	z-index: 10000;
}
.nav-link {
	color: black;
}

/* Head */

#landing_lady {
	height: 300px;
}

#head {
	padding-top: 150px !important;
}

#ellipse-head {
	position: absolute;
	top: 13%;
	height: 350px;
}

/* Featured-Recipes */

.card {
	border-radius: 15px;
}
.list-group-item {
	border: none;
}
.card-img > img {
	width: 115px;
	height: 115px;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(20%, -50%);
}

h2 {
	display: inline-block;
	padding-bottom: 10px;
	position: relative;
}
h2:before {
	content: "";
	position: absolute;
	width: 80%;
	height: 1px;
	bottom: 0;
	left: 40%;
	border-bottom: 3px solid #f8a392;
}
/* Tricks */
#ellipse-tricks {
	position: absolute;
	transform: rotate(180deg) translateY(183%);
	float: right;
	right: 0;
	z-index: 0;
	height: 340px;
}

/* Media Query */
@media screen and (max-width: 990px) {
	#ellipse-tricks {
		transform: rotate(180deg) translateY(220%);
	}
}
@media screen and (max-width: 786px) {
	#ellipse-tricks {
		transform: rotate(180deg) translateY(250%);
	}
}
@media screen and (max-width: 576px) {
	#ellipse-navbar {
		height: 240px;
	}
	#tricks-img {
		height: 185px;
	}
	#pastry {
		height: 90px;
		width: 90px;
	}
	#donut {
		height: 90px;
		width: 90px;
	}
	#ellipse-navbar {
		display: none;
	}
	#ellipse-tricks {
		display: none;
	}
}
